



:root{
  ---primary-color:#DF5E5E;
  font-family: 'Festive', cursive;
  font-size: 16px;
}


body::-webkit-scrollbar{
  width: 0.30rem;
}

body::-webkit-scrollbar-thumb{
  background:var(---primary-color);
}
body::-webkit-scrollbar-track{
  background: white;
}


.enter{
 margin-left: 50%;
}

body{
background-color: white;
}



h1{
  color: var(---primary-color);
  text-align:center;
  font-size: 10rem;
}


.l{
  color: var(---primary-color);
  font-size: 4rem;
  padding: 5rem;
  display: inline-block;
}
.your{
  color: var(---primary-color);
  font-size: 4rem;
  padding-right: 5rem;

display: inline-block;


}
.another{
  color: var(---primary-color);
  font-size: 4rem;
display: inline-block;
  padding-left: 5rem;
}

img{
  display: block;
margin-left: auto;
margin-right: auto;
width: 25%;
}


.percentage{

  color: var(---primary-color);
  font-size: 13rem;
  text-align: center;
  margin: 0;

}

.Remarks{
  color: var(---primary-color);
  font-size: 10rem;
  text-align:center;
  margin: 0;

}

button{
  border-radius: 2px;

  background-color: var(---primary-color);
  text-align: center;
  position: relative;
  right: 14rem;
  text-decoration: none;
  border: 3px solid black;


letter-spacing: 5px;



}


.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}
.lets{
  color: white;
  font-size: 4rem;
    font-family: 'Festive', cursive;

}

.love{
  text-align: center;
}
